<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>PPT VUE</title>
	<link rel="stylesheet" href="style.css">
	<script src="https://code.jquery.com/jquery-2.2.4.js"
  	integrity="sha256-iT6Q9iMJYuQiMWNd9lDyBUStIq/8PuOW33aOqmvFpqI="
  	crossorigin="anonymous"></script>
  	<script src="https://cdn.jsdelivr.net/npm/vue"></script>
</head>
<body>
	<div class="grid">
		<div id="app">
			<div class="inicio">
				<h1> {{ titulo }} </h1>
				<p><span>{{victorias}}</span>-<span>{{maquina}}</span></p>
			</div>
			<div class="btns">
				<button v-if="!fin" v-on:click="jugada(0)" class="btn"><img class="foto" src="papel.png" alt=""></button>
				<button v-if="!fin" v-on:click="jugada(1)" class="btn"><img class="foto" src="piedra.png" alt=""></button>
				<button v-if="!fin" v-on:click="jugada(2)" class="btn"><img class="foto" src="tijeras.png" alt=""></button>
			</div>
			<div class="cpuplay">
				<p>{{resultado}}</p>
				<img class="foto" v-if="imeg" v-bind:src="ppt[cpu]" alt="">
			</div>
			<button v-if="fin" v-on:click="reseto" class="btn fin">Volver a jugar</button>
		</div>
	</div>
	<script src="hacks.js" type="text/javascript" charset="utf-8" async defer></script>
</body>
</html>