body{
  font-family: 'Roboto', sans-serif;
  background-color: #84FF00;
  font-size: 18px;
  margin: 0;
  padding: 0;
  color: #000000;
  box-sizing: border-box;
}
@keyframes gameboy{
	from{
		opacity: 0;
		transform: scale3d(1, 1, 1);
		color: #FFFFFF;
	}
	20%{
		color: #FF0000;
		opacity: 0.8;
	}
	40%{
		color: #0090FF;
		opacity: 0.6;
	}
	60%{
		color: #FF00F0;
		opacity: 0.7;
	}
	80%{
		color: #D2FF00;
		opacity: 0.9;
	}
	to{
		opacity: 1;
		transform: scale3d(1, 1, 1);
		color: #FFFFFF;
	}
}

.animation{
	animation-name: gameboy;
	animation-duration: 1.5s;
	animation-iteration-count: infinite;
}
.grid{
	display: grid;
	grid-template-columns: 1fr;
	grid-template-areas:
	"app";
	border: 1px solid black;
}

#app{
	grid-area: app;
	text-align: center;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
	grid-template-areas: 
	"inicio inicio inicio inicio inicio"
	" . btns btns btns ."
	". cpu cpu cpu fotofin"
	". . fin . fotofin";
}

.inicio{
	grid-area:inicio;
}

.btn{
	border-radius: 10px;
	border: 1px solid black;
	cursor: pointer;
}

.btn:hover{
	background-color: red;
}

.btns{
	grid-area: btns;
}
.cpuplay{
	grid-area: cpu;
}
.foto{
	width: 100px;
	height: 100px;
}
.resultat{
	grid-area: fotofin;
	max-height: 280px;
}
.fin{
	grid-area: fin;
}